@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --fs-xxs: 10px;
    --fs-xs: 14px;
    --fs-s: 10px;
    --fs-sm: 20px;
    --fs-md: 24px;
    --fs-lg: 28.33px;
    --fs-xl: 32px;
    --fs-2xl: 36px;
    --fs-3xl: 30px;
    --fs-4xl: 40px;
    /* ===== font clr========= */
    --fc-white: #FFFFFF;
    --fc-navblue: #151640;
    --fc-purple: #1F204B;
    --fc-bodyclr: #140D1B;
    --fc-blueline: #1219D2;
    --fc-lightgrey: #767382;
    --fc-lightblue: #2B294B;
    --fc-layerclr: #7487AB;
    --fc-grey: #8999A3;
    --fc-blue: #171360;
    --fc-offwhite:#E9EBED;
    --fc-fblack:#010101;
    --fc-cream:#AFAFAF;
}

/* ============================ clr ========================= */
.color-white {
    color: var(--fc-white);
}

.color-grey {
    color: var(--fc-grey);
}
.color-cream{
    color: var(--fc-cream);
}

/* ======================= font-size ============================== */
.text-10 {
    font-size: var(--fs-xxs);
}

.text-14 {
    font-size: var(--fs-xs);
}

.text-16 {
    font-size: var(--fs-s);
}

.text-20 {
    font-size: var(--fs-sm);
}

.text-24 {
    font-size: var(--fs-md);
}

.text-28 {
    font-size: var(--fs-lg);
}

.text-32 {
    font-size: var(--fs-xl);
}

.text-36 {
    font-size: var(--fs-2xl);
}

.text-48 {
    font-size: var(--fs-3xl);
}

.text-64 {
    font-size: var(--fs-4xl);
}

/* ======================================= line height =================================== */
.lh-35 {
    line-height: 35.7px;
}

.lh-24 {
    line-height: 24px;
}

.lh-75 {
    line-height: 60px;
}

.lh-15 {
    line-height: 15px;
}

.lh-21 {
    line-height: 21px;
}

.lh-28 {
    line-height: 28.2px;
}

.lh-27 {
    line-height: 27.3px;
}

.lh-42 {
    line-height: 42px;
}

.lh-30 {
    line-height: 30px;
}

.lh-37 {
    line-height: 37.6px;
}

.lh-36 {
    line-height: 36px;
}

.lh-32 {
    line-height: 32px;
}

.lh-25 {
    line-height: 25px;
}

/* ====================== font weight ============================= */
.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 300;
}

.fw-500 {
    font-weight: 300;
}

.fw-600 {
    font-weight: 300;
}

/* ================= font family ================================= */
.ff-racing {
    font-family: 'Racing Sans One', sans-serif;
}

.ff-poppins {
    font-family: ' Poppins', sans-serif;
}

@font-face {
    font-family: 'Sans Serif Collection', sans-serif;
    src: url(../font/SansSerifCollection/SansSerifCollection.ttf);
}

.ff-sans {
    font-family: 'Sans Serif Collection', sans-serif;
}

.my-container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.bg-img {
    background-image: url(../Images/png/hero-bg-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.py-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.gap-32 {
    gap: 32px;
}

.nav-btn {
    background: linear-gradient(90deg, #1219D2 0%, #4E52B1 100%);
    border-radius: 60px;
    border: transparent;
    padding: 10px 32px;
}

.bg-nav-clr {
    background: var(--fc-purple);
}

.bg-clr {
    background-color: var(--fc-bodyclr);
}

.max-w-415 {
    max-width: 269px;
}

.blue_line::after {
    content: "";
    width: 100%;
    height: 19px;
    background: var(--fc-blueline);
    border-radius: 21px;
    position: absolute;
    left: 0;
    bottom: 11px;
    z-index: -1;
}

.underline::after {
    content: "";
    width: 100%;
    height: 1px;
    background: var(--fc-blueline);
    border-radius: 21px;
    position: absolute;
    left: 0;
    bottom: 11px;
    /* z-index: -1; */
}

.outer-box {
    max-width: 930px;
    min-height: 300px;
    width: 100%;
    height: 100%;
    background: var(--fc-purple);
    border-radius: 16px;
    border: 1px solid var(--fc-lightgrey);
    padding: 24px 40px;
}

.going-box {
    /* max-width: 452px; */
    width: 100%;
    min-height: 48px;
    width: 100%;
    border: 1px solid var(--fc-lightgrey);
    border-radius: 8px;
    background: var(--fc-lightblue);
    padding: 12px 0px 11px 10px;
}

.checkin-box {
    /* max-width: 180px; */
    width: 100%;
    /* min-height: 48px; */
    border: 1px solid lightgrey;
    border-radius: 8px;
    background-color: var(--fc-lightblue);
    padding: 0px 10px;
}

/* .checkbox{
    background: var(--fc-purple);
    border: 0.6px solid var(--fc-lightgrey);
} */
/* input~.checkbox{
    background: var(--fc-purple);
    border: 0.6px solid var(--fc-lightgrey);  
} */
.form-box label::after {
    content: "";
    border: 0.6px solid transparent;
    background: transparent;
    display: inline-block;
    position: relative;
}

.gap-30 {
    gap: 30px;
}

.search-btn {
    background: linear-gradient(90deg, #1219D2 0%, #4E52B1 100%);
    padding: 14px 32px;
    border-radius: 60px;
    border: transparent;
}

.mt-lg-30 {
    margin-top: 30px;
}

.max-w-122 {
    max-width: 122px;
}

.mt-lg-65 {
    margin-top: 65px;
}

.mb-lg-60 {
    margin-bottom: 60px;
}

.gap-19 {
    gap: 19px;
}

::-webkit-scrollbar {
    display: none;
}

.pt-80 {
    padding-top: 80px;
}

.max-w-878 {
    max-width: 878px !important;
}

/* .pb-20{
    padding-bottom: 20px;
} */
/* ==================================== about us ============================================== */
.btn-style {
    background: linear-gradient(90deg, #1219D2 0%, #4E52B1 100%);
    padding: 10px 24px;
    border: transparent;
    border-radius: 60px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pt-20 {
    padding-top: 20px;
}

/* ==================================== grid section ==================================== */
.grid-container {
    display: grid;
}

.grid-item1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.grid-item2 {
    grid-row: 1/2;
    grid-column: 2/3;
}

.grid-item3 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.grid-item4 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.grid-item5 {
    grid-row: 4/5;
    grid-column: 1/2;
}

.grid-item6 {
    grid-row: 4/5;
    grid-column: 2/3;
}


/* .grid-item1 {
    grid-row: 1/2;
    grid-column: 1/2;
}
.grid-item2 {
    grid-row: 2/3;
    grid-column: 1/2;
}
.grid-item3 {
    grid-row: 3/4;
    grid-column: 1/2;
}
.grid-item4 {
    grid-row: 4/5;
    grid-column: 1/2;
}
.grid-item5 {
    grid-row: 5/6;
    grid-column: 1/2;
}
.grid-item6 {
    grid-row: 6/7;
    grid-column: 1/2;
} */

.pt-40 {
    padding-top: 40px;
}

.pb-30 {
    padding-bottom: 30px;
}

.input-text {
    border: none;
    outline: none;
    background: transparent;
}

input::placeholder {
    color: var(--fc-white);
}

.layer-box {
    max-width: 253px;
    padding: 10px 28px;
    border-radius: 42px;
    background: var(--fc-layerclr);
    /* filter: blur(8px); */
    top: 12px;
    left: 12px;
    opacity: 0.8;
    transition: all 200ms linear;
}

.grid-layer:hover .layer-content {
    opacity: 1;
}

.layer-content {
    opacity: 0;
    transition: all 300ms linear;
}

/* ========================================= member deals (slider) ================================ */

.line_thro {
    text-decoration: line-through !important;
}

.max-w-367 {
    max-width: 367px;
}

.blue-box {
    max-width: 367px;
}

.max-w-327 {
    max-width: 327px;
}

.blue-box {
    background: var(--fc-navblue);
    padding: 16px 20px 20px 20px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

.slider-box {
    border-radius: 13px !important;
    max-width: 367px;
    width: 100%;
}

.border_radius {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex !important;
    gap: 20px !important;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: var(--fc-blueline) !important;
}

.slick-dots li button:before {
    color: var(--fc-white) !important;
}

.slick-dots {
    position: absolute;
    bottom: -24px !important;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

}

.slick-next:before,
.slick-prev:before {
    display: none !important;
}

.slider-ellipse {
    top: -67px;
    right: 0;
}

.max-w-372 {
    max-width: 372px;
}

.slick-slide {
    /* display: none; */
    float: left;
    height: 100%;
    min-height: 1px;
    width: 350px !important;
}

/* ====================================== tokeonomics ======================================== */
.toki-bg-img {
    background-image: url(../Images/png/toki-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pt-50 {
    padding-top: 50px;
}

.toki-box {
    background: var(--fc-blue);
    max-width: 582px;
    width: 100%;
    height: 100%;
    min-height: 480px;
    padding: 29px 10px;
    border-radius: 20.69px;
    opacity: 0.7;
}

.mb-18 {
    margin-bottom: 18px;
}

.gap-30 {
    gap: 30px;
}

.gap-25 {
    gap: 25px;
}

.gap-10 {
    gap: 10px;
}

.gap-10 {
    gap: 10px;
}

.mt-lg-43 {
    margin-top: 43px;
}

.mt-lg-54 {
    margin-top: 54px;
}

.max-w-321 {
    max-width: 321px;
}

.pb-lg-26 {
    padding-bottom: 26px;
}

.max-w-406 {
    max-width: 406px;
}

.gap-70 {
    gap: 70px;
}
.linear-gradient-toki{
    background: linear-gradient(180deg, #140D1B 24.34%, rgba(20, 15, 34, 0) 93.95%);
     /* max-width: 1440px; */
     width: 100%;
     max-height: 215px;
     height: 100%;
     z-index: 1;
}
.gradient-2-toki{
    background: linear-gradient(180deg, #140D1B 24.34%, rgba(20, 15, 34, 0) 93.95%);
    /* max-width: 1440px; */
    filter: blur(50px);
    width: 100%;
    min-height: 189px;
    height: 100%;
    bottom: 0;
    z-index: -1; 
}

.team-box{
    max-width: 367px;
    background: var(--fc-blue);
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
    padding: 20px 0px 20px 20px;
}
.py-30{
    padding-top: 30px;
    padding-bottom: 30px;
}
/* ========================================== accordion =================================== */
.accordion {
    --bs-accordion-border-color: transparent !important;
    max-width: 830px !important;
    --bs-accordion-bg: none !important;
}

.accordion-button:not(.collapsed) {
    background: var(--fc-bodyclr) !important;
    color: var(--fc-white) !important;
}

.accordion-item:first-of-type>.accordion-header .accordion-button {
    border-radius: 200px !important;
}

.accordion-button {
    background: var(--fc-bodyclr) !important;
    border-radius: 200px !important;
    padding: 20px 0px !important;
    /* margin-bottom: 20px !important; */
}

.accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: url(../Images/svg/bottom-arrow.svg) !important;
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
    /* transform-origin: center; */
}
.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-active-icon);
    transform: var(--bs-accordion-btn-icon-transform);
    transform-origin: center !important ;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-body {
    /* padding-top: 0px !important;
    padding-bottom: 21px !important; */
    padding: 0 30px 20px 0px !important;
}
.border_bottom{
    border-bottom: 1px solid var(--fc-offwhite) !important ;
}
/* .accordion-body {
    padding: 0 30px 20px 30px !important;
} */
.max-w-749{
    max-width: 749px !important;
}
/* ================================================ footer ======================================== */
.footer-bg-clr{
    background-color: var(--fc-fblack);
}
.pt-lg-40{
    padding-top: 40px;
}
.pt-26{
    padding-top: 26px;
}

@media (max-width:576px) {
    .layer-box {
        max-width: 253px;
        padding: 5px 10px;
        border-radius: 42px;
        background: var(--fc-layerclr);
        /* filter: blur(8px); */
        top: 5px;
        left: 4px;
        opacity: 0.8;
        transition: all 200ms linear;
    }

    .flex_wrap {
        flex-wrap: wrap;
    }
    .justify_content_center{
        justify-content: center;
    }

    /* .pr-20{
        padding-right: 10px;
    }
    .pb_20{
        padding-bottom: 10px;
    } */
}

@media (max-width:768px) {
    .gap_20 {
        gap: 20px;
    }
}

@media (max-width:992px) {

    .overFlowHidden {
        overflow: hidden;
    }

    ul.menulist.show {
        right: 0;
    }

    .menuIcon {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 5;
        transition: all 300ms linear;
        /* top: 31px; */
        right: 12px;
        /* position: fixed; */
    }

    .menuIcon>span {
        width: 100%;
        height: 4px;
        background: var(--fc-white);
        position: relative;
        z-index: 3;
        transition: all 300ms linear;
    }

    .menulist {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background: var(--fc-navblue);
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 3;
        justify-content: center;
        align-items: center;
    }

    .cross span:nth-child(1) {
        transform: rotate(56deg) translateY(25px);
        transition: all 300ms linear;
        position: relative;
        top: -7px;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 300ms;
    }

    .cross span:nth-child(3) {
        transform: rotate(-50deg) translateY(-28px);
        transition: all 300ms linear;
        position: relative;
        top: 0;
    }

    .flex_wrap {
        flex-wrap: wrap;
    }

    .pr-20 {
        padding-right: 20px;
    }

    .pb_20 {
        padding-bottom: 20px;
    }

}



@media (min-width:576px) {
    :root {
        --fs-4xl: 50px;
        --fs-3xl: 48px;
        --fs-s: 16px;
    }

    .max-w-415 {
        max-width: 327px;
    }

    .btn-style {
        background: linear-gradient(90deg, #1219D2 0%, #4E52B1 100%);
        padding: 14px 34px;
        border: transparent;
        border-radius: 60px;
    }

    .toki-box {
        background: var(--fc-blue);
        max-width: 582px;
        width: 100%;
        height: 100%;
        max-height: 480px;
        padding: 29px 50px;
        border-radius: 20.69px;
        opacity: 0.7;
    }

    .gap-lg-99 {
        gap: 99px;
    }

    .gap-lg-90 {
        gap: 94px;
    }

    .gap-lg-30 {
        gap: 40px;
    }

    .gap-lg-28 {
        gap: 28px;
    }

    .gap-lg-112 {
        gap: 112px;
    }
    .pt-lg-160{
        padding-top: 160px;
    }
}

@media (min-width:768px) {
    :root {
        --fs-4xl: 64px;
    }

    .pt-lg-140 {
        padding-top: 140px;
    }

    .lh-75 {
        line-height: 75.2px;
    }

    .max-w-415 {
        max-width: 415px;
    }

    .pt-md-60 {
        padding-top: 60px;
    }
    .pt-lg-54{
        padding-top: 54px;
    }
    .pb-lg-50 {
        padding-bottom: 50px;
    }
}



@media (min-width:992px) {
    .max-w-509 {
        max-width: 509px;
    }

    .outer-box {
        max-width: 930px;
        min-height: 300px;
        height: 100%;
        background: var(--fc-purple);
        border-radius: 16px;
        border: 1px solid var(--fc-lightgrey);
        padding: 24px 40px;
    }

    .going-box {
        max-width: 452px;
        min-height: 48px;
        width: 100%;
        border: 1px solid var(--fc-lightgrey);
        border-radius: 8px;
        background: var(--fc-lightblue);
        padding: 12px 0px 11px 10px;
    }

    .checkin-box {
        max-width: 180px;
        /* min-height: 48px; */
        border: 1px solid lightgrey;
        border-radius: 8px;
        background-color: var(--fc-lightblue);
        padding: 0px 10px;
    }

    .gap-lg-61 {
        gap: 61px;
    }

    .pb-lg-60 {
        padding-bottom: 60px;
    }

    .pt-lg-140 {
        padding-top: 140px;
    }

    .pb-lg-40 {
        padding-bottom: 40px;
    }

    .pt-lg-180 {
        padding-top: 180px;
    }

    .pb-lg-106 {
        padding-bottom: 106px;
    }

    .grid-item1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .grid-item2 {
        grid-row: 1/3;
        grid-column: 2/3;
    }

    .grid-item3 {
        grid-row: 1/2;
        grid-column: 3/4;
    }

    .grid-item4 {
        grid-row: 2/4;
        grid-column: 1/2;
    }

    .grid-item5 {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .grid-item6 {
        grid-row: 2/4;
        grid-column: 3/4;
    }

    .gap-lg-20 {
        gap: 20px;
    }

    .pt-lg-150 {
        padding-top: 150px;
    }
    .pt-lg-240 {
        padding-top: 240px;
    }
    .max-w-561{
        max-width: 561px;
    }
    .max-w-260{
        max-width: 260px;
    }
}